html {
	font-family: 'Lato', sans-serif;
}
body {
	margin: 0;
}
.boxreview {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

@media (max-width: 880px) {
	.boxreview {
		margin-left: 10px;
	}
}
@media (min-width: 880px) {
	.boxreview {
		margin-left: 20px;
	}
}

.slidecontainer {
	width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 8px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
	transition: opacity 0.2s;
	flex-grow: 1;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 20px; /* Set a specific slider handle width */
	height: 20px; /* Slider handle height */
	background: #00cc99; /* Green background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 50%;
}

.slider::-moz-range-thumb {
	width: 20px; /* Set a specific slider handle width */
	height: 20px; /* Slider handle height */
	background: #00cc99; /* Green background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 50%;
}

.loginpage {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	z-index: -100;
}

.backimg {
	height: 100%;
	opacity: 0.3;
}

.signingdiv {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(50%);
}
@media (max-width: 640px) {
	.signingdiv {
		margin-top: 20px;
	}
}
.signingdiv > button {
	background-color: #00cc99 !important;
}

.signingdiv span {
	font-weight: 700 !important;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	animation: example 0.4s linear;
}

@keyframes example {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(180deg);
	}
}

.card-minimatt {
	width: 25%;
}
